/*************************** EVENT LIST HEADER *******************************/
.event-list {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.event-list-border {
    border: 1.5px solid #999999;
    margin: 1rem 12rem;
}

.event-list-header-container {
    display: grid;
    grid-template-areas:
    'link'
    'header';
    margin: 0rem 12rem;
    margin-top: 3rem;
}

.event-list-header-events {
    grid-area: link;
    font-size: 1.6rem;
    font-weight: 500;
    color: #00798A;
    max-width: fit-content;
}

.event-list-header-groups {
    margin-left: 5.5rem;
    max-width: fit-content;
    grid-area: link;
    color: #999999;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
}

.event-list-header-container > p {
    color: #999999;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

/******************************** EVENT LIST BODY *********************************/

.event-list-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'image info'
    'image info'
    'image info';
    margin: 0rem 12rem;
    column-gap: .5rem;}

.event-list-image {
    grid-area: image;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.event-list-info-time {
    grid-area: info;
    cursor: pointer;
    font-size: 12px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.event-list-name {
    grid-area: info;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 500;
    text-align:initial;
    cursor: pointer;
    color: #00798A;
    margin-bottom: -2rem;
}

.event-list-info-location {
    grid-row: info;
    margin: 0px;
    cursor: pointer;
    color:#999999;
    margin-top: 2.5rem;
}

.event-list-info-container {
    display: flex;
    flex-direction: column;
}


/************************** EVENT DETAILS HEADER ******************************/

.event-detail-container {
    margin: 0rem 8rem;
    margin-top: 2rem;
}

.event-detail-breadcrumb {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: flex-end;
    margin-bottom: .2rem;
}

.event-detail-breadcrumb > p {
    font-size: 12px;
    padding-right: .1rem;
    margin: 0px;
}

.event-detail-header-container > h2 {
    margin: 0px;
    margin-top: .6rem;
    margin-bottom: .30rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.event-detail-header-container > p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#999999;
    font-size: 14px;
}


/************************** EVENT DETAILS BODY ******************************/

.event-detail-body-container {
    margin-top: 1.6rem;
    background-color: rgb(238, 238, 238);
    height: 50rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.event-detail-body-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
    'img groupinfo'
    'img eventinfo'
    'img eventinfo';
    margin: 0rem 8rem;
    padding-top: 1.75rem;
    column-gap: .6rem;
}

.event-detail-body-image {
    grid-area: img;
}

.event-detail-body-info-group {
    grid-area: groupinfo;
    background-color: white;
    max-height: 5.75rem;
    border-radius: 1rem;
    display: flex;
}

.event-detail-body-info-event {
    grid-area: eventinfo;
    background-color: white;
    border-radius: 1rem;
}

/************************** EVENT DETAILS BODY CARD ******************************/

.event-detail-body-info-group-image {
    margin: .5rem .5rem;
    cursor: pointer;
}
.event-detail-body-info-group-body {
    max-width: 9.40rem;
}
.event-detail-body-info-group-body > h4 {
    margin-bottom: .2rem;
    margin-top: .5rem;
    cursor: pointer;
}

.event-detail-body-info-group-body > p {
    font-size: 12px;
    color:#999999;
    cursor: pointer;
}

.fa-clock {
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
}

.event-detail-body-info-event-time-details {
    display: flex;
    gap: 1.2rem;
    margin-top: .5rem;
    padding-top: .2rem;
}

.event-detail-body-info-event-details-time-container {
    font-size: 14px;
    max-width: fit-content;
}

.event-detail-body-info-event-details-start-time, .event-detail-body-info-event-details-end-time {
    display: flex;
    gap: .5rem;
    color: #999999;
}

.event-detail-body-info-event-price-details {
    margin-top: 1.4rem;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
}

.event-detail-body-info-event-price-details > p {
    margin: 0px;
    color: #999999;
    font-size: 14px;
}

.fa-sack-dollar {
    padding-left: 1.1rem;
    padding-right: 1.04rem;
}

.event-detail-body-info-event-type-details {

    display: flex;
    align-items: center;
}

.event-detail-body-info-event-type-details > p {
    margin: 0px;
    color: #999999;
    font-size: 14px;
}

.fa-map-pin {
    padding-left: 1.4rem;
    padding-right: 1.3rem;
}

.event-detail-body-info-event-button {
    position: absolute;
    margin-left: 8rem;
    gap: .5rem;
    margin-top: -1.3rem;
    display: flex;

}

.event-detail-body-info-event-button > button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(102,102,102);
    color:white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    cursor: pointer;
}
.event-detail-body-info-event-button > button:hover {
    background-color: rgb(145, 145, 145);
}

/************************** EVENT DETAILS BODY DESCRIPTION ******************************/

.event-detail-body-description {
    margin: 0px 8rem;
}

.event-detail-body-description > p {
    font-size: 12px;
    max-width: 100rem;
    word-wrap: break-word;
}

/*************************** CREATE EVENT PAGE *****************************/

.create-event-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 16rem;
}

.create-event-container > p {
    font-weight: 500;
    margin-bottom: 0px;
}

.create-event-container > input {
    border: 2.5px solid black;
    width: 16rem;
    height: 1.25rem;
    background-color: rgb(232, 240, 254);
}

.create-event-container > button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(207,42,39);
    color: white;
    border: 2.5px solid black;
    box-shadow: 2px 2px black;
    font-size: 16px;
    margin-top: 1.1rem;
}

.create-event-container > button:hover {
    background-color: #ff6f74;
    cursor: pointer;
}
.create-event-borders {
    border: 1.5px solid #999999;
    margin: 1rem 0px;
}

.create-event-select-location, .create-event-select-private {
    margin-bottom: 1.25rem;
    background-color: rgb(232, 240, 254);
    font-size: 11px;
    color:#999999;
    width: 6rem;
    height: 1.4rem;
    border: 2px solid black;
}

.create-event-price-label{
    position: relative;
}

.create-event-price-label > span {
    position: absolute;
    left: 4px;
    top: 1px
}

.create-event-price-label > input {
    border: 2.5px solid black;
    width: 16rem;
    height: 1.25rem;
    background-color: rgb(232, 240, 254);
    font-size: 14px;
    padding-left: .8rem;
}

.create-event-errors-section-1 {
    position: absolute;
    color: rgb(207,42,39);
    font-size: 12px;
    font-weight: 500;
    margin-top: 1.6rem;
    margin-left: -16.55rem;
}

.create-event-errors-section-2 {
    position: absolute;
    color: rgb(207,42,39);
    font-size: 12px;
    font-weight: 500;
    margin-top: 1.7rem;
    margin-left: -6.1rem;
}

.create-event-errors-section-3 {
    position: absolute;
    color: rgb(207,42,39);
    font-size: 12px;
    font-weight: 500;
    margin-left: -.1rem;
}

.create-event-errors-section-4 {
    position: absolute;
    color: rgb(207,42,39);
    font-size: 12px;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-left: -11.37rem;
}

.create-event-errors-section-5 {
    position: absolute;
    color: rgb(207,42,39);
    font-size: 12px;
    font-weight: 500;
    margin-top: 1.55rem;
    margin-left: -16.55rem;
}


.create-event-errors-section-6 {
    position: absolute;
    color: rgb(207,42,39);
    font-size: 12px;
    font-weight: 500;
    margin-top: 8.45rem;
    margin-left: -16.55rem;
}

/********************************** DELETE MODAL BUTTON FOR EVENT ********************************/
.delete-modal-button-event {
    list-style-type: none;
}
