.landing-page {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/***************    SUBTITLE SECTION    **************/
.subtitle-section {
    display: flex;
    height: 300px;
    padding: 0px 120px;
    padding-top: 40px;
    gap: 1em
}

.subtitle-section>img {
    width: 50%
}

/***************    GROUP/EVENT LINKS SECTION    **************/
.group-event-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-event-links > p {
    text-align: center;
    width: 300px;
    margin-top: 0px;
    font-size: 14px;
}
.group-event-links > h2 {
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 500;
}

.link-container {
    display: flex;
}

.link-container img {
    width: 150px;
    height: 150px;
}

.link {
    text-decoration: none;
    color: rgb(4, 82, 86);
    font-weight: 500;
    font-size: 18px;
}

.join-group {
    color: #CCCCCC;
    font-weight: 500;
    font-size: 18px;
}

.link-container p {
    margin: 0px 0px;
    height: 100px;
    font-size: 14px;
}

.group-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    width: 150px;
}

.event-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding: 0px 40px;
    width: 200px;
}

.join-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    width: 150px;
}

/***************    BUTTON SECTION    **************/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.landing-page-button {
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: white;
    background-color: rgb(4, 82, 86);
    box-shadow: 3px 3px 1px black;
    cursor: pointer;
}

.landing-page-span {
    list-style-type: none;
}


/***************    HOVER EFFECTS    **************/

.link:hover {
    text-decoration: underline;
}
